<div>
    <a href="/tasks/<%= task.id %>">
        <div>
            Task
        </div>
    </a>
    <ul>
        <li>
            <%= task.name %>
        </li>
        <li>
            <%= task.description %>
        </li>
        <li>
            <%= task.status() %>
        </li>
        <li>
            <%= task.expectedCompletionDate %>
        </li>
    </ul>
</div>

