<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Tasks</title>
    </head>
    <body>
        <%- include('./sub/navbar.ejs'); -%>

        <form action="/tasks/<%= task.id%>/update" method="post">
            <div>
                Update task info:
            </div>
            <div>
                <label for="name">Name: </label>
                <input type="text" name="name" value="<%= task.name%>" required />
            </div>
            <div>
                <label for="description">Description: </label>
                <input type="text" name="description" value="<%= task.description%>" required />
            </div>
            <div>
                <label for="status-select">Task status:</label>

                <select name="statusId" id="status-select">
                    <option value="0">TODO</option>
                    <option value="1">Doing</option>
                    <option value="2">Done</option>
                </select>
            </div>
            <div>
                <label for="start">Completion date: </label>
                <input type="date" id="completionDate" name="expectedCompletionDate" value="<%= task.expectedCompletionDate %>" required />
            </div>
            <div>
                <input type="submit" value="Update" />
            </div>
        </form>
    </body>
    <script>
        let today = new Date()
        let dd = today.getDate()
        let mm = today.getMonth() + 1
        let yyyy = today.getFullYear()

        if (dd < 10) {
           dd = '0' + dd
        }

        if (mm < 10) {
           mm = '0' + mm
        } 
            
        today = yyyy + '-' + mm + '-' + dd
        document.getElementById("completionDate").min = today
    </script>
</html>

